* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

/* === >>> === >>> Head === >>> === >>> */

#head {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#head .box {
  width: 120px;
  height: 120px;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #04131a;
}

.box-content {
  padding: 100px 45px;
  color: #fff;
}

h1 {
  width: 400px;
  font-size: 2em;
  line-height: 100%;
  font-weight: bold;
}

.box-content p {
  font-size: 0.6em;
  width: 400px;
  margin: 10px 0;
}

.box-content button {
  display: inline-block;
  font-size: 0.6em;
  background: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
}

.box-content button:hover
{
  letter-spacing: 6px;
}

.icons-bl {
  display: flex;
  padding: 30px 0;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 30px;
  filter: invert(1);
}

/* === >>> === >>> Here === >>> === >>> */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 45px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}


/* === >>> === >>> Second === >>> === >>> */

#second {
  position: relative;
  width: 100%;
  min-height: 120vh;
  height: auto;
  background-color: #061b25;
  border-top: 1px solid rgb(255, 255, 255); 
}

.mobl-img-my {
  display: none;
}

#second .mine-flex-bl {
  display: flex;
  margin: 0;
  padding: 0;
}

.mine-flex-bl .bl-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.mine-flex-bl .bl-2 {
  display: flex;
  flex-direction: column;
  padding: 20px 90px;
  width: 50%;
  height: 100vh;
}

.cont-posititons-1 {
  height: 60vh;
  margin-top: 20px;
}

.cont-posititons-2 {
  height: 40vh;
}

.bl-1 .oval-bl {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 25px;
  border-radius: 100%;
  background: rgb(223,2,198);
  background: linear-gradient(0deg, rgba(223,2,198,1) 27%, rgba(255,104,0,1) 85%);
}

.bl-1 .my-img-sc {
  position: absolute;
  bottom: 15%;
  right: 15%;
  width: 280px;
  height: 400px;
  z-index: 20;
}

.bl-2 .cont-bl-2 {
    margin-top: 5%;
    width: 450px;
  }

  .cont-bl-2 h2 {
    color: #fff;
  }

  .cont-bl-2 p {
    color: #fff;
    margin: 20px   0;
    font-size: 1.1em;
  }

  .cont-bl-2 button {
  display: inline-block;
  font-size: 1.6em;
  background: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  border: none;
  letter-spacing: 2px;
  transition: 0.2s;
  }

  .cont-bl-2 button:hover
{
  letter-spacing: 6px;
}

.cont-posititons-2 { 
  display: flex;
  flex-direction: column;
}

.cont-posititons-2 h2 {
  margin-bottom: 25px;
}

.ic-sk-bl {
  display: flex;
}

.icon-sk {
  width: 80px;
  height: 80px;
  margin: 20px 20px 20px 0;
}

/* === >>> === >>> Footer === >>> === >>> */

#footer {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  background-color: #04131a;
  border-top: 1px solid rgb(255, 255, 255); 
}

#footer .main-bl {
  padding: 25px 90px;
}

#footer h2 {
  color: #fe57ab;
  font-size: 1.6em;
  font-family: 'Parisienne', cursive;
}

.footer-con-bl {
  height: 140px;
  margin-top: 25px;
  color: #fff;
}

.footer-con-bl p {
  font-size: 1.1em;
  margin-top: 5px;
  color: #fff;
}

.bl-create-by {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 100%;
}

.bl-create-by p {
  font-size: 0.9em;
}

@media (max-width: 900px) {
  /* === >>> === >>> Head === >>> === >>> */

    #head {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    #head .box {
      width: 120px;
      height: 120px;
      max-width: 100vw;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #04131a;
    }

    .box-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 45px;
      color: #fff;
    }

    h1 {
      width: auto;
      font-size: 1.3em;
      line-height: 100%;
      font-weight: 800;
      text-align: start;
    }

    .box-content p {
      font-size: 0.6em;
      width: auto;
      margin: 10px 0;
      text-align: start;
    }

    .box-content button {
      display: inline-block;
      font-size: 0.6em;
      background: #fff;
      padding: 12px 42px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      margin-top: 20%;
      color: #111;
      letter-spacing: 2px;
      transition: 0.2s;
      border: none;
    }

    .box-content button:hover
    {
      letter-spacing: 6px;
    }

    .icons-bl {
      display: flex;
      padding: 30px 0;
    }

    .icon {
      width: 22px;
      height: 22px;
      margin-right: 30px;
      filter: invert(1);
    }

  /* >>> SECOND >>>> */

  #second {
    position: relative;
    width: 100%;
    min-height: 120vh;
    height: 120vh;
    background-color: #061b25;
    border-top: 1px solid rgb(255, 255, 255); 
  }

  #second .mobl-img-my {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    opacity: 0.4;
  }

  #second .mine-flex-bl {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .mine-flex-bl .bl-1 {
    display: none;
  }

  .mine-flex-bl .bl-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 90px;
    width: 100%;
    height: 100vh;

  }

  .cont-posititons-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
  }

  .cont-posititons-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 25%;
    z-index: 25;
  }

  .bl-1 .oval-bl {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 25px;
    border-radius: 100%;
    background: rgb(223,2,198);
    background: linear-gradient(0deg, rgba(223,2,198,1) 27%, rgba(255,104,0,1) 85%);
  }

  .bl-1 .my-img-sc {
    position: absolute;
    bottom: 15%;
    right: 15%;
    width: 280px;
    height: 400px;
    z-index: 20;
  }

  .bl-2 .cont-bl-2 {
      margin-top: 5%;
      width: auto;
      z-index: 25;
    }

    .cont-bl-2 h2 {
      color: #fff;
    }

    .cont-bl-2 p {
      color: #fff;
      margin: 20px   0;
      font-size: 1.21em;
      text-align: center;
      width: auto;
    }

    .cont-bl-2 button {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 42px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10%;
    color: #111;
    border: none;
    letter-spacing: 2px;
    transition: 0.2s;
    }

    .cont-bl-2 button:hover
  {
    letter-spacing: 6px;
  }

  .cont-posititons-2 { 
    display: flex;
    flex-direction: column;
  }

  .cont-posititons-2 h2 {
    margin-bottom: 25px;
  }

  .ic-sk-bl {
    display: flex;
  }

  .icon-sk {
    width: 80px;
    height: 80px;
    margin: 20px 20px 20px 0;
  }
}