* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

/* === >>> === >>> Head === >>> === >>> */

#head {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#head .box {
  width: 120px;
  height: 120px;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #04131a;
}

.box-content {
  padding: 100px 45px 0 45px;
  color: #fff;
}

h1 {
  width: 400px;
  font-size: 2em;
  line-height: 100%;
  font-weight: bold;
}

.box-content p {
  font-size: 0.6em;
  width: 400px;
  margin: 10px 0;
}

.box-content button {
  display: inline-block;
  font-size: 0.6em;
  background: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
}

.box-content button:hover
{
  letter-spacing: 6px;
}

.icons-bl {
  display: flex;
  padding: 30px 0;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 30px;
  filter: invert(1);
}

/* === >>> === >>> Here === >>> === >>> */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 45px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}

/* === >>> Second === >>> */

#main {
 width: 100%;
 height: auto;
 background-color: #07232f;

 display: flex;
 justify-content: center;
}

.mn-bl {
  width: auto;
  max-width: 1000px;
  height: auto;
  padding: 100px 40px;
}

.part-one {
  width: auto;
  height: auto;
}

.part-one h2{
  color: #fff;
  margin-top: 15px;
}

.part-one p{
  color: #fff;
  margin-top: 15px;
  z-index: 20;
}

.part-one a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 42px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
  margin-top: 25px;
  z-index: 20;
}

.part-one button:hover
{
  letter-spacing: 6px;
}

.part-two {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 65px;
}

.part-two h2 {
  color: #fff;
  margin-bottom: 15px;
  z-index: 20;
}

.ic-sk-bl {
  display: flex;
}

.icon-sk {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-right: 15px;
  z-index: 20;
}

.part-two .bg-round {
  position: absolute;
  bottom: -60px;
  right: -20px; 

  background: rgb(255,104,0);
  background: linear-gradient(0deg, rgba(255,104,0,1) 26%, rgba(223,2,198,1) 90%);
  width: 280px;
  height: 280px;
  border-radius: 100%;

  opacity: 0.8;
}

.bg-round .my-img-sc {
  position: absolute;
  bottom: 25%;
  right: 20px;
  width: 220px;
  height: 320px;
  z-index: 10;
 }

 /* === >>> === >>> Footer === >>> === >>> */

#footer {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 100%;
  background-color: #04131a;
  border-top: 1px solid rgb(255, 255, 255); 
}

#footer .main-bl {
  padding: 25px 90px 0 25px;
}

#footer h2 {
  color: #fe57ab;
  font-size: 1.6em;
  font-family: 'Parisienne', cursive;
}

.footer-con-bl {
  height: 140px;
  margin-top: 5px;
  color: #fff;
}

.footer-con-bl p {
  font-size: 1.1em;
  margin-top: 5px;
  color: #fff;
}

.bl-create-by {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 100%;
}

.bl-create-by p {
  font-size: 0.9em;
}

 /* === >>> === >>> Contact === >>> === >>> */
.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04131a;
}

.contact-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  border: none;

  z-index: 20;
}

form {
  display: flex;
  flex-direction: column;
}

.cont-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-form {
  margin-top: 15px;
}

.contact-cnt h2 {
  color: #fff;
  margin-bottom: 25px;
}

input#email {
  width: 450px;
  height: 40px;
}

input#message{
  width: 450px;
  height: 40px;
}

form button {
  display: inline-block;
  font-size: 1.1em;
  background: #fff;
  width: 450px;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 6px;
  transition: 0.2s;
  border: none;
}

form button:hover
{
  letter-spacing: 12px;
}

form a {
  display: inline-block;
  font-size: 1.1em;
  background: #fff;
  width: 450px;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 6px;
  transition: 0.2s;
  border: none;
}

form a:hover
{
  letter-spacing: 12px;
}
 
@media (max-width: 900px) {

  /* === >>> === >>> Head === >>> === >>> */

    #head {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    #head .box {
      width: 120px;
      height: 120px;
      max-width: 100vw;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #04131a;
    }

    .box-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 45px 15px;
      color: #fff;
    }

    h1 {
      width: auto;
      font-size: 1.3em;
      line-height: 100%;
      font-weight: 800;
      text-align: start;
    }

    .box-content p {
      font-size: 0.6em;
      width: auto;
      margin: 10px 0;
      text-align: start;
    }

    .box-content button {
      display: inline-block;
      font-size: 0.6em;
      background: #fff;
      padding: 12px 42px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      margin-top: 20%;
      color: #111;
      letter-spacing: 2px;
      transition: 0.2s;
      border: none;
    }

    .box-content button:hover
    {
      letter-spacing: 6px;
    }

    .icons-bl {
      display: flex;
      padding: 30px 0;
    }

    .icon {
      width: 22px;
      height: 22px;
      margin-right: 30px;
      filter: invert(1);
    }
}